You are provided with historical sales data for 1,115 Rossmann stores. The task is to forecast the "Sales" column for the test set. Note that some stores in the dataset were temporarily closed for refurbishment.

Files
train.csv - historical data including Sales

test.csv - historical data excluding Sales

sample_submission.csv - a sample submission file in the correct format

store.csv - supplemental information about the stores

Data fields

Most of the fields are self-explanatory. The following are descriptions for those that aren't.



Id - an Id that represents a (Store, Date) duple within the test set

Store - a unique Id for each store

Sales - the turnover for any given day (this is what you are predicting)

Customers - the number of customers on a given day

Open - an indicator for whether the store was open: 0 = closed, 1 = open

StateHoliday - indicates a state holiday. Normally all stores, with few exceptions, are closed on state holidays. Note that all schools are closed on public holidays and weekends. a = public holiday, b = Easter holiday, c = Christmas, 0 = None

SchoolHoliday - indicates if the (Store, Date) was affected by the closure of public schools

StoreType - differentiates between 4 different store models: a, b, c, d

Assortment - describes an assortment level: a = basic, b = extra, c = extended

CompetitionDistance - distance in meters to the nearest competitor store

CompetitionOpenSince[Month/Year] - gives the approximate year and month of the time the nearest competitor was opened

Promo - indicates whether a store is running a promo on that day

Promo2 - Promo2 is a continuing and consecutive promotion for some stores: 0 = store is not participating, 1 = store 
is participating

Promo2Since[Year/Week] - describes the year and calendar week when the store started participating in Promo2

PromoInterval - describes the consecutive intervals Promo2 is started, naming the months the promotion is started anew. E.g. "Feb,May,Aug,Nov" means each round starts in February, May, August, November of any given year for that store

In [53]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import xgboost as xgb
from sklearn import cross_validation


%matplotlib inline

In [54]:
#read_data
train_data=pd.read_csv("dataset/train.csv")
store_data=pd.read_csv("dataset/store.csv")
test_data=pd.read_csv("dataset/test.csv")

/Users/jasdeep/kaggle/kaggle_env/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [55]:
#dimensions of data
print("There are {} examples and {} features in training data".format(train_data.shape[0],train_data.shape[1]))
print("There are {} examples and {} features in store data".format(store_data.shape[0],store_data.shape[1]))
print("There are {} examples and {} features in test data".format(test_data.shape[0],test_data.shape[1]))

There are 1017209 examples and 9 features in training data
There are 1115 examples and 10 features in store data
There are 41088 examples and 8 features in test data

In [56]:
#Sampling dataset
train_data.sample()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
870293,264,7,2013-05-12,0,0,0,0,0,0

In [57]:
store_data.sample()

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
716,717,d,c,310.0,NaN,NaN,1,40.0,2011.0,"Jan,Apr,Jul,Oct"

In [58]:
test_data.sample()

,Id,Store,DayOfWeek,Date,Open,Promo,StateHoliday,SchoolHoliday
10692,10693,545,6,2015-09-05,1.0,0,0,0

In [59]:
percent_missing_train=train_data.isnull().sum()/train_data.isnull().count()
percent_missing_train

Store            0.0
DayOfWeek        0.0
Date             0.0
Sales            0.0
Customers        0.0
Open             0.0
Promo            0.0
StateHoliday     0.0
SchoolHoliday    0.0
dtype: float64

In [60]:
percent_missing_store=store_data.isnull().sum()/store_data.isnull().count()
percent_missing_store

Store                        0.000000
StoreType                    0.000000
Assortment                   0.000000
CompetitionDistance          0.002691
CompetitionOpenSinceMonth    0.317489
CompetitionOpenSinceYear     0.317489
Promo2                       0.000000
Promo2SinceWeek              0.487892
Promo2SinceYear              0.487892
PromoInterval                0.487892
dtype: float64

In [61]:
percent_missing_test=test_data.isnull().sum()/test_data.isnull().count()
percent_missing_test

Id               0.000000
Store            0.000000
DayOfWeek        0.000000
Date             0.000000
Open             0.000268
Promo            0.000000
StateHoliday     0.000000
SchoolHoliday    0.000000
dtype: float64

In [62]:
store_data[store_data[["Promo2SinceWeek","Promo2"]]["Promo2SinceWeek"].isnull()]

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN
5,6,a,a,310.0,12.0,2013.0,0,NaN,NaN,NaN
6,7,a,c,24000.0,4.0,2013.0,0,NaN,NaN,NaN
7,8,a,a,7520.0,10.0,2014.0,0,NaN,NaN,NaN
8,9,a,c,2030.0,8.0,2000.0,0,NaN,NaN,NaN
9,10,a,a,3160.0,9.0,2009.0,0,NaN,NaN,NaN
15,16,a,c,3270.0,NaN,NaN,0,NaN,NaN,NaN
22,23,d,a,4060.0,8.0,2005.0,0,NaN,NaN,NaN
24,25,c,a,430.0,4.0,2003.0,0,NaN,NaN,NaN
25,26,d,a,2300.0,NaN,NaN,0,NaN,NaN,NaN
28,29,d,c,2170.0,NaN,NaN,0,NaN,NaN,NaN
30,31,d,c,9800.0,7.0,2012.0,0,NaN,NaN,NaN
32,33,a,c,1320.0,5.0,2013.0,0,NaN,NaN,NaN
33,34,c,a,2240.0,9.0,2009.0,0,NaN,NaN,NaN
36,37,c,a,4230.0,12.0,2014.0,0,NaN,NaN,NaN
37,38,d,a,1090.0,4.0,2007.0,0,NaN,NaN,NaN
43,44,a,a,540.0,6.0,2011.0,0,NaN,NaN,NaN
44,45,d,a,9710.0,2.0,2014.0,0,NaN,NaN,NaN
47,48,a,a,1060.0,5.0,2012.0,0,NaN,NaN,NaN
48,49,d,c,18010.0,9.0,2007.0,0,NaN,NaN,NaN
49,50,d,a,6260.0,11.0,2009.0,0,NaN,NaN,NaN
52,53,a,c,30360.0,9.0,2013.0,0,NaN,NaN,NaN
54,55,a,a,720.0,11.0,2004.0,0,NaN,NaN,NaN
56,57,d,c,420.0,6.0,2014.0,0,NaN,NaN,NaN
59,60,d,c,5540.0,10.0,2009.0,0,NaN,NaN,NaN
61,62,a,a,2050.0,NaN,NaN,0,NaN,NaN,NaN
66,67,a,c,410.0,2.0,2006.0,0,NaN,NaN,NaN
69,70,c,c,4840.0,NaN,NaN,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1037,1038,d,a,17290.0,10.0,2013.0,0,NaN,NaN,NaN
1042,1043,c,a,420.0,3.0,2006.0,0,NaN,NaN,NaN
1044,1045,a,c,26990.0,12.0,2013.0,0,NaN,NaN,NaN
1045,1046,d,c,29070.0,4.0,2005.0,0,NaN,NaN,NaN
1052,1053,a,a,1710.0,7.0,2015.0,0,NaN,NaN,NaN
1054,1055,c,a,1980.0,4.0,2009.0,0,NaN,NaN,NaN
1056,1057,d,c,3230.0,11.0,2011.0,0,NaN,NaN,NaN
1058,1059,c,a,3380.0,4.0,2013.0,0,NaN,NaN,NaN
1060,1061,d,c,8110.0,NaN,NaN,0,NaN,NaN,NaN
1062,1063,a,c,6250.0,NaN,NaN,0,NaN,NaN,NaN
1063,1064,a,c,420.0,NaN,NaN,0,NaN,NaN,NaN
1065,1066,a,a,3350.0,NaN,NaN,0,NaN,NaN,NaN
1066,1067,d,c,12020.0,7.0,2009.0,0,NaN,NaN,NaN
1069,1070,c,c,400.0,10.0,2008.0,0,NaN,NaN,NaN
1074,1075,a,c,1410.0,10.0,2013.0,0,NaN,NaN,NaN
1080,1081,b,a,400.0,3.0,2006.0,0,NaN,NaN,NaN
1081,1082,c,a,440.0,4.0,2002.0,0,NaN,NaN,NaN
1084,1085,c,a,4030.0,2.0,2015.0,0,NaN,NaN,NaN
1086,1087,d,c,2210.0,11.0,2011.0,0,NaN,NaN,NaN
1088,1089,d,a,5220.0,5.0,2009.0,0,NaN,NaN,NaN
1090,1091,a,c,9990.0,NaN,NaN,0,NaN,NaN,NaN
1092,1093,c,c,10450.0,6.0,2009.0,0,NaN,NaN,NaN
1096,1097,b,b,720.0,3.0,2002.0,0,NaN,NaN,NaN
1097,1098,a,a,1830.0,11.0,2004.0,0,NaN,NaN,NaN
1100,1101,d,c,4060.0,9.0,2012.0,0,NaN,NaN,NaN
1107,1108,a,a,540.0,4.0,2004.0,0,NaN,NaN,NaN
1109,1110,c,c,900.0,9.0,2010.0,0,NaN,NaN,NaN
1111,1112,c,c,1880.0,4.0,2006.0,0,NaN,NaN,NaN
1112,1113,a,c,9260.0,NaN,NaN,0,NaN,NaN,NaN
1113,1114,a,c,870.0,NaN,NaN,0,NaN,NaN,NaN

In [63]:
#making store data integral(storetype,Assortment)
store_data.loc[store_data['StoreType'] == 'a', 'StoreType'] = '1'
store_data.loc[store_data['StoreType'] == 'b', 'StoreType'] = '2'
store_data.loc[store_data['StoreType'] == 'c', 'StoreType'] = '3'
store_data.loc[store_data['StoreType'] == 'd', 'StoreType'] = '4'
store_data.loc[store_data['Assortment'] == 'a', 'Assortment'] = '1'
store_data.loc[store_data['Assortment'] == 'b', 'Assortment'] = '2'
store_data.loc[store_data['Assortment'] == 'c', 'Assortment'] = '3'
store_data

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,3,1,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,1,1,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,1,1,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,3,3,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,1,1,29910.0,4.0,2015.0,0,NaN,NaN,NaN
5,6,1,1,310.0,12.0,2013.0,0,NaN,NaN,NaN
6,7,1,3,24000.0,4.0,2013.0,0,NaN,NaN,NaN
7,8,1,1,7520.0,10.0,2014.0,0,NaN,NaN,NaN
8,9,1,3,2030.0,8.0,2000.0,0,NaN,NaN,NaN
9,10,1,1,3160.0,9.0,2009.0,0,NaN,NaN,NaN
10,11,1,3,960.0,11.0,2011.0,1,1.0,2012.0,"Jan,Apr,Jul,Oct"
11,12,1,3,1070.0,NaN,NaN,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
12,13,4,1,310.0,NaN,NaN,1,45.0,2009.0,"Feb,May,Aug,Nov"
13,14,1,1,1300.0,3.0,2014.0,1,40.0,2011.0,"Jan,Apr,Jul,Oct"
14,15,4,3,4110.0,3.0,2010.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
15,16,1,3,3270.0,NaN,NaN,0,NaN,NaN,NaN
16,17,1,1,50.0,12.0,2005.0,1,26.0,2010.0,"Jan,Apr,Jul,Oct"
17,18,4,3,13840.0,6.0,2010.0,1,14.0,2012.0,"Jan,Apr,Jul,Oct"
18,19,1,3,3240.0,NaN,NaN,1,22.0,2011.0,"Mar,Jun,Sept,Dec"
19,20,4,1,2340.0,5.0,2009.0,1,40.0,2014.0,"Jan,Apr,Jul,Oct"
20,21,3,3,550.0,10.0,1999.0,1,45.0,2009.0,"Jan,Apr,Jul,Oct"
21,22,1,1,1040.0,NaN,NaN,1,22.0,2012.0,"Jan,Apr,Jul,Oct"
22,23,4,1,4060.0,8.0,2005.0,0,NaN,NaN,NaN
23,24,1,3,4590.0,3.0,2000.0,1,40.0,2011.0,"Jan,Apr,Jul,Oct"
24,25,3,1,430.0,4.0,2003.0,0,NaN,NaN,NaN
25,26,4,1,2300.0,NaN,NaN,0,NaN,NaN,NaN
26,27,1,1,60.0,1.0,2005.0,1,5.0,2011.0,"Jan,Apr,Jul,Oct"
27,28,1,1,1200.0,10.0,2014.0,1,6.0,2015.0,"Mar,Jun,Sept,Dec"
28,29,4,3,2170.0,NaN,NaN,0,NaN,NaN,NaN
29,30,1,1,40.0,2.0,2014.0,1,10.0,2014.0,"Mar,Jun,Sept,Dec"
...,...,...,...,...,...,...,...,...,...,...
1085,1086,1,1,180.0,11.0,2013.0,1,18.0,2011.0,"Feb,May,Aug,Nov"
1086,1087,4,3,2210.0,11.0,2011.0,0,NaN,NaN,NaN
1087,1088,1,1,4300.0,3.0,2009.0,1,27.0,2013.0,"Jan,Apr,Jul,Oct"
1088,1089,4,1,5220.0,5.0,2009.0,0,NaN,NaN,NaN
1089,1090,1,1,330.0,NaN,NaN,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
1090,1091,1,3,9990.0,NaN,NaN,0,NaN,NaN,NaN
1091,1092,1,1,300.0,7.0,2000.0,1,40.0,2014.0,"Jan,Apr,Jul,Oct"
1092,1093,3,3,10450.0,6.0,2009.0,0,NaN,NaN,NaN
1093,1094,4,1,2380.0,3.0,2013.0,1,40.0,2014.0,"Jan,Apr,Jul,Oct"
1094,1095,1,1,690.0,6.0,2007.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
1095,1096,1,3,1130.0,NaN,NaN,1,10.0,2014.0,"Mar,Jun,Sept,Dec"
1096,1097,2,2,720.0,3.0,2002.0,0,NaN,NaN,NaN
1097,1098,1,1,1830.0,11.0,2004.0,0,NaN,NaN,NaN
1098,1099,1,3,200.0,4.0,2013.0,1,14.0,2013.0,"Jan,Apr,Jul,Oct"
1099,1100,1,1,540.0,NaN,NaN,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
1100,1101,4,3,4060.0,9.0,2012.0,0,NaN,NaN,NaN
1101,1102,1,1,850.0,11.0,2012.0,1,40.0,2014.0,"Jan,Apr,Jul,Oct"
1102,1103,4,3,1340.0,10.0,2006.0,1,5.0,2013.0,"Feb,May,Aug,Nov"
1103,1104,4,1,260.0,2.0,2012.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
1104,1105,3,3,330.0,11.0,2008.0,1,5.0,2013.0,"Feb,May,Aug,Nov"
1105,1106,1,3,5330.0,9.0,2011.0,1,31.0,2013.0,"Jan,Apr,Jul,Oct"
1106,1107,1,1,1400.0,6.0,2012.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
1107,1108,1,1,540.0,4.0,2004.0,0,NaN,NaN,NaN
1108,1109,3,1,3490.0,4.0,2011.0,1,22.0,2012.0,"Jan,Apr,Jul,Oct"
1109,1110,3,3,900.0,9.0,2010.0,0,NaN,NaN,NaN
1110,1111,1,1,1900.0,6.0,2014.0,1,31.0,2013.0,"Jan,Apr,Jul,Oct"
1111,1112,3,3,1880.0,4.0,2006.0,0,NaN,NaN,NaN
1112,1113,1,3,9260.0,NaN,NaN,0,NaN,NaN,NaN
1113,1114,1,3,870.0,NaN,NaN,0,NaN,NaN,NaN
1114,1115,4,3,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec"

In [64]:
#store open if nan
test_data.fillna(1, inplace=True)
#only train with open stores
train_data = train_data[train_data["Open"] != 0]

#combining store table
train_data = pd.merge(train_data, store_data, on='Store')
test_data = pd.merge(test_data, store_data, on='Store')

In [65]:
#converting dates into year, month,date
train_data['year'] = train_data.Date.apply(lambda x: x.split('-')[0])
train_data['year'] = train_data['year'].astype(float)
train_data['month'] = train_data.Date.apply(lambda x: x.split('-')[1])
train_data['month'] = train_data['month'].astype(float)
train_data['day'] = train_data.Date.apply(lambda x: x.split('-')[2])
train_data['day'] = train_data['day'].astype(float)
test_data['year'] = test_data.Date.apply(lambda x: x.split('-')[0])
test_data['year'] = test_data['year'].astype(float)
test_data['month'] = test_data.Date.apply(lambda x: x.split('-')[1])
test_data['month'] = test_data['month'].astype(float)
test_data['day'] = test_data.Date.apply(lambda x: x.split('-')[2])
test_data['day'] = test_data['day'].astype(float)
train_data

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,...,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,year,month,day
0,1,5,2015-07-31,5263,555,1,1,0,1,3,...,1270.0,9.0,2008.0,0,NaN,NaN,NaN,2015.0,7.0,31.0
1,1,4,2015-07-30,5020,546,1,1,0,1,3,...,1270.0,9.0,2008.0,0,NaN,NaN,NaN,2015.0,7.0,30.0
2,1,3,2015-07-29,4782,523,1,1,0,1,3,...,1270.0,9.0,2008.0,0,NaN,NaN,NaN,2015.0,7.0,29.0
3,1,2,2015-07-28,5011,560,1,1,0,1,3,...,1270.0,9.0,2008.0,0,NaN,NaN,NaN,2015.0,7.0,28.0
4,1,1,2015-07-27,6102,612,1,1,0,1,3,...,1270.0,9.0,2008.0,0,NaN,NaN,NaN,2015.0,7.0,27.0
5,1,6,2015-07-25,4364,500,1,0,0,0,3,...,1270.0,9.0,2008.0,0,NaN,NaN,NaN,2015.0,7.0,25.0
6,1,5,2015-07-24,3706,459,1,0,0,0,3,...,1270.0,9.0,2008.0,0,NaN,NaN,NaN,2015.0,7.0,24.0
7,1,4,2015-07-23,3769,503,1,0,0,0,3,...,1270.0,9.0,2008.0,0,NaN,NaN,NaN,2015.0,7.0,23.0
8,1,3,2015-07-22,3464,463,1,0,0,0,3,...,1270.0,9.0,2008.0,0,NaN,NaN,NaN,2015.0,7.0,22.0
9,1,2,2015-07-21,3558,469,1,0,0,0,3,...,1270.0,9.0,2008.0,0,NaN,NaN,NaN,2015.0,7.0,21.0
10,1,1,2015-07-20,4395,526,1,0,0,0,3,...,1270.0,9.0,2008.0,0,NaN,NaN,NaN,2015.0,7.0,20.0
11,1,6,2015-07-18,4406,512,1,0,0,0,3,...,1270.0,9.0,2008.0,0,NaN,NaN,NaN,2015.0,7.0,18.0
12,1,5,2015-07-17,4852,519,1,1,0,0,3,...,1270.0,9.0,2008.0,0,NaN,NaN,NaN,2015.0,7.0,17.0
13,1,4,2015-07-16,4427,517,1,1,0,0,3,...,1270.0,9.0,2008.0,0,NaN,NaN,NaN,2015.0,7.0,16.0
14,1,3,2015-07-15,4767,550,1,1,0,0,3,...,1270.0,9.0,2008.0,0,NaN,NaN,NaN,2015.0,7.0,15.0
15,1,2,2015-07-14,5042,544,1,1,0,0,3,...,1270.0,9.0,2008.0,0,NaN,NaN,NaN,2015.0,7.0,14.0
16,1,1,2015-07-13,5054,553,1,1,0,0,3,...,1270.0,9.0,2008.0,0,NaN,NaN,NaN,2015.0,7.0,13.0
17,1,6,2015-07-11,3530,441,1,0,0,0,3,...,1270.0,9.0,2008.0,0,NaN,NaN,NaN,2015.0,7.0,11.0
18,1,5,2015-07-10,3808,449,1,0,0,0,3,...,1270.0,9.0,2008.0,0,NaN,NaN,NaN,2015.0,7.0,10.0
19,1,4,2015-07-09,3897,480,1,0,0,0,3,...,1270.0,9.0,2008.0,0,NaN,NaN,NaN,2015.0,7.0,9.0
20,1,3,2015-07-08,3797,485,1,0,0,0,3,...,1270.0,9.0,2008.0,0,NaN,NaN,NaN,2015.0,7.0,8.0
21,1,2,2015-07-07,3650,485,1,0,0,0,3,...,1270.0,9.0,2008.0,0,NaN,NaN,NaN,2015.0,7.0,7.0
22,1,1,2015-07-06,4359,540,1,0,0,0,3,...,1270.0,9.0,2008.0,0,NaN,NaN,NaN,2015.0,7.0,6.0
23,1,6,2015-07-04,4797,560,1,0,0,0,3,...,1270.0,9.0,2008.0,0,NaN,NaN,NaN,2015.0,7.0,4.0
24,1,5,2015-07-03,4665,538,1,1,0,0,3,...,1270.0,9.0,2008.0,0,NaN,NaN,NaN,2015.0,7.0,3.0
25,1,4,2015-07-02,5558,573,1,1,0,0,3,...,1270.0,9.0,2008.0,0,NaN,NaN,NaN,2015.0,7.0,2.0
26,1,3,2015-07-01,5223,562,1,1,0,0,3,...,1270.0,9.0,2008.0,0,NaN,NaN,NaN,2015.0,7.0,1.0
27,1,2,2015-06-30,5735,568,1,1,0,0,3,...,1270.0,9.0,2008.0,0,NaN,NaN,NaN,2015.0,6.0,30.0
28,1,1,2015-06-29,5197,541,1,1,0,0,3,...,1270.0,9.0,2008.0,0,NaN,NaN,NaN,2015.0,6.0,29.0
29,1,6,2015-06-27,4019,463,1,0,0,0,3,...,1270.0,9.0,2008.0,0,NaN,NaN,NaN,2015.0,6.0,27.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
844362,292,2,2013-02-05,7336,841,1,1,0,1,1,...,1100.0,6.0,2009.0,0,NaN,NaN,NaN,2013.0,2.0,5.0
844363,292,1,2013-02-04,7584,858,1,1,0,1,1,...,1100.0,6.0,2009.0,0,NaN,NaN,NaN,2013.0,2.0,4.0
844364,292,6,2013-02-02,3667,412,1,0,0,0,1,...,1100.0,6.0,2009.0,0,NaN,NaN,NaN,2013.0,2.0,2.0
844365,292,5,2013-02-01,5668,670,1,0,0,0,1,...,1100.0,6.0,2009.0,0,NaN,NaN,NaN,2013.0,2.0,1.0
844366,292,4,2013-01-31,5657,739,1,0,0,0,1,...,1100.0,6.0,2009.0,0,NaN,NaN,NaN,2013.0,1.0,31.0
844367,292,3,2013-01-30,4351,653,1,0,0,0,1,...,1100.0,6.0,2009.0,0,NaN,NaN,NaN,2013.0,1.0,30.0
844368,292,2,2013-01-29,4796,683,1,0,0,0,1,...,1100.0,6.0,2009.0,0,NaN,NaN,NaN,2013.0,1.0,29.0
844369,292,1,2013-01-28,5510,769,1,0,0,0,1,...,1100.0,6.0,2009.0,0,NaN,NaN,NaN,2013.0,1.0,28.0
844370,292,6,2013-01-26,3142,362,1,0,0,0,1,...,1100.0,6.0,2009.0,0,NaN,NaN,NaN,2013.0,1.0,26.0
844371,292,5,2013-01-25,6229,737,1,1,0,0,1,...,1100.0,6.0,2009.0,0,NaN,NaN,NaN,2013.0,1.0,25.0
844372,292,4,2013-01-24,5605,745,1,1,0,0,1,...,1100.0,6.0,2009.0,0,NaN,NaN,NaN,2013.0,1.0,24.0
844373,292,3,2013-01-23,5969,710,1,1,0,0,1,...,1100.0,6.0,2009.0,0,NaN,NaN,NaN,2013.0,1.0,23.0
844374,292,2,2013-01-22,6757,797,1,1,0,0,1,...,1100.0,6.0,2009.0,0,NaN,NaN,NaN,2013.0,1.0,22.0
844375,292,1,2013-01-21,7863,916,1,1,0,0,1,...,1100.0,6.0,2009.0,0,NaN,NaN,NaN,2013.0,1.0,21.0
844376,292,6,2013-01-19,2676,328,1,0,0,0,1,...,1100.0,6.0,2009.0,0,NaN,NaN,NaN,2013.0,1.0,19.0
844377,292,5,2013-01-18,4943,644,1,0,0,0,1,...,1100.0,6.0,2009.0,0,NaN,NaN,NaN,2013.0,1.0,18.0
844378,292,4,2013-01-17,4829,686,1,0,0,0,1,...,1100.0,6.0,2009.0,0,NaN,NaN,NaN,2013.0,1.0,17.0
844379,292,3,2013-01-16,4979,671,1,0,0,0,1,...,1100.0,6.0,2009.0,0,NaN,NaN,NaN,2013.0,1.0,16.0
844380,292,2,2013-01-15,4723,711,1,0,0,0,1,...,1100.0,6.0,2009.0,0,NaN,NaN,NaN,2013.0,1.0,15.0
844381,292,1,2013-01-14,5560,784,1,0,0,0,1,...,1100.0,6.0,2009.0,0,NaN,NaN,NaN,2013.0,1.0,14.0
844382,292,6,2013-01-12,3035,373,1,0,0,0,1,...,1100.0,6.0,2009.0,0,NaN,NaN,NaN,2013.0,1.0,12.0
844383,292,5,2013-01-11,6316,756,1,1,0,0,1,...,1100.0,6.0,2009.0,0,NaN,NaN,NaN,2013.0,1.0,11.0
844384,292,4,2013-01-10,6173,747,1,1,0,0,1,...,1100.0,6.0,2009.0,0,NaN,NaN,NaN,2013.0,1.0,10.0
844385,292,3,2013-01-09,6436,765,1,1,0,0,1,...,1100.0,6.0,2009.0,0,NaN,NaN,NaN,2013.0,1.0,9.0
844386,292,2,2013-01-08,6859,792,1,1,0,0,1,...,1100.0,6.0,2009.0,0,NaN,NaN,NaN,2013.0,1.0,8.0
844387,292,1,2013-01-07,9291,1002,1,1,0,0,1,...,1100.0,6.0,2009.0,0,NaN,NaN,NaN,2013.0,1.0,7.0
844388,292,6,2013-01-05,2748,340,1,0,0,0,1,...,1100.0,6.0,2009.0,0,NaN,NaN,NaN,2013.0,1.0,5.0
844389,292,5,2013-01-04,4202,560,1,0,0,1,1,...,1100.0,6.0,2009.0,0,NaN,NaN,NaN,2013.0,1.0,4.0
844390,292,4,2013-01-03,4580,662,1,0,0,1,1,...,1100.0,6.0,2009.0,0,NaN,NaN,NaN,2013.0,1.0,3.0
844391,292,3,2013-01-02,5076,672,1,0,0,1,1,...,1100.0,6.0,2009.0,0,NaN,NaN,NaN,2013.0,1.0,2.0

In [66]:
test_data

,Id,Store,DayOfWeek,Date,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,year,month,day
0,1,1,4,2015-09-17,1.0,1,0,0,3,1,1270.0,9.0,2008.0,0,NaN,NaN,NaN,2015.0,9.0,17.0
1,857,1,3,2015-09-16,1.0,1,0,0,3,1,1270.0,9.0,2008.0,0,NaN,NaN,NaN,2015.0,9.0,16.0
2,1713,1,2,2015-09-15,1.0,1,0,0,3,1,1270.0,9.0,2008.0,0,NaN,NaN,NaN,2015.0,9.0,15.0
3,2569,1,1,2015-09-14,1.0,1,0,0,3,1,1270.0,9.0,2008.0,0,NaN,NaN,NaN,2015.0,9.0,14.0
4,3425,1,7,2015-09-13,0.0,0,0,0,3,1,1270.0,9.0,2008.0,0,NaN,NaN,NaN,2015.0,9.0,13.0
5,4281,1,6,2015-09-12,1.0,0,0,0,3,1,1270.0,9.0,2008.0,0,NaN,NaN,NaN,2015.0,9.0,12.0
6,5137,1,5,2015-09-11,1.0,0,0,0,3,1,1270.0,9.0,2008.0,0,NaN,NaN,NaN,2015.0,9.0,11.0
7,5993,1,4,2015-09-10,1.0,0,0,0,3,1,1270.0,9.0,2008.0,0,NaN,NaN,NaN,2015.0,9.0,10.0
8,6849,1,3,2015-09-09,1.0,0,0,0,3,1,1270.0,9.0,2008.0,0,NaN,NaN,NaN,2015.0,9.0,9.0
9,7705,1,2,2015-09-08,1.0,0,0,0,3,1,1270.0,9.0,2008.0,0,NaN,NaN,NaN,2015.0,9.0,8.0
10,8561,1,1,2015-09-07,1.0,0,0,0,3,1,1270.0,9.0,2008.0,0,NaN,NaN,NaN,2015.0,9.0,7.0
11,9417,1,7,2015-09-06,0.0,0,0,0,3,1,1270.0,9.0,2008.0,0,NaN,NaN,NaN,2015.0,9.0,6.0
12,10273,1,6,2015-09-05,1.0,0,0,0,3,1,1270.0,9.0,2008.0,0,NaN,NaN,NaN,2015.0,9.0,5.0
13,11129,1,5,2015-09-04,1.0,1,0,1,3,1,1270.0,9.0,2008.0,0,NaN,NaN,NaN,2015.0,9.0,4.0
14,11985,1,4,2015-09-03,1.0,1,0,1,3,1,1270.0,9.0,2008.0,0,NaN,NaN,NaN,2015.0,9.0,3.0
15,12841,1,3,2015-09-02,1.0,1,0,1,3,1,1270.0,9.0,2008.0,0,NaN,NaN,NaN,2015.0,9.0,2.0
16,13697,1,2,2015-09-01,1.0,1,0,1,3,1,1270.0,9.0,2008.0,0,NaN,NaN,NaN,2015.0,9.0,1.0
17,14553,1,1,2015-08-31,1.0,1,0,1,3,1,1270.0,9.0,2008.0,0,NaN,NaN,NaN,2015.0,8.0,31.0
18,15409,1,7,2015-08-30,0.0,0,0,1,3,1,1270.0,9.0,2008.0,0,NaN,NaN,NaN,2015.0,8.0,30.0
19,16265,1,6,2015-08-29,1.0,0,0,1,3,1,1270.0,9.0,2008.0,0,NaN,NaN,NaN,2015.0,8.0,29.0
20,17121,1,5,2015-08-28,1.0,0,0,1,3,1,1270.0,9.0,2008.0,0,NaN,NaN,NaN,2015.0,8.0,28.0
21,17977,1,4,2015-08-27,1.0,0,0,1,3,1,1270.0,9.0,2008.0,0,NaN,NaN,NaN,2015.0,8.0,27.0
22,18833,1,3,2015-08-26,1.0,0,0,1,3,1,1270.0,9.0,2008.0,0,NaN,NaN,NaN,2015.0,8.0,26.0
23,19689,1,2,2015-08-25,1.0,0,0,1,3,1,1270.0,9.0,2008.0,0,NaN,NaN,NaN,2015.0,8.0,25.0
24,20545,1,1,2015-08-24,1.0,0,0,1,3,1,1270.0,9.0,2008.0,0,NaN,NaN,NaN,2015.0,8.0,24.0
25,21401,1,7,2015-08-23,0.0,0,0,1,3,1,1270.0,9.0,2008.0,0,NaN,NaN,NaN,2015.0,8.0,23.0
26,22257,1,6,2015-08-22,1.0,0,0,1,3,1,1270.0,9.0,2008.0,0,NaN,NaN,NaN,2015.0,8.0,22.0
27,23113,1,5,2015-08-21,1.0,1,0,1,3,1,1270.0,9.0,2008.0,0,NaN,NaN,NaN,2015.0,8.0,21.0
28,23969,1,4,2015-08-20,1.0,1,0,1,3,1,1270.0,9.0,2008.0,0,NaN,NaN,NaN,2015.0,8.0,20.0
29,24825,1,3,2015-08-19,1.0,1,0,1,3,1,1270.0,9.0,2008.0,0,NaN,NaN,NaN,2015.0,8.0,19.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41058,16264,1115,7,2015-08-30,0.0,0,0,1,4,3,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec",2015.0,8.0,30.0
41059,17120,1115,6,2015-08-29,1.0,0,0,1,4,3,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec",2015.0,8.0,29.0
41060,17976,1115,5,2015-08-28,1.0,0,0,1,4,3,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec",2015.0,8.0,28.0
41061,18832,1115,4,2015-08-27,1.0,0,0,1,4,3,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec",2015.0,8.0,27.0
41062,19688,1115,3,2015-08-26,1.0,0,0,1,4,3,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec",2015.0,8.0,26.0
41063,20544,1115,2,2015-08-25,1.0,0,0,1,4,3,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec",2015.0,8.0,25.0
41064,21400,1115,1,2015-08-24,1.0,0,0,1,4,3,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec",2015.0,8.0,24.0
41065,22256,1115,7,2015-08-23,0.0,0,0,1,4,3,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec",2015.0,8.0,23.0
41066,23112,1115,6,2015-08-22,1.0,0,0,1,4,3,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec",2015.0,8.0,22.0
41067,23968,1115,5,2015-08-21,1.0,1,0,1,4,3,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec",2015.0,8.0,21.0
41068,24824,1115,4,2015-08-20,1.0,1,0,1,4,3,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec",2015.0,8.0,20.0
41069,25680,1115,3,2015-08-19,1.0,1,0,1,4,3,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec",2015.0,8.0,19.0
41070,26536,1115,2,2015-08-18,1.0,1,0,1,4,3,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec",2015.0,8.0,18.0
41071,27392,1115,1,2015-08-17,1.0,1,0,1,4,3,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec",2015.0,8.0,17.0
41072,28248,1115,7,2015-08-16,0.0,0,0,1,4,3,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec",2015.0,8.0,16.0
41073,29104,1115,6,2015-08-15,1.0,0,0,1,4,3,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec",2015.0,8.0,15.0
41074,29960,1115,5,2015-08-14,1.0,0,0,1,4,3,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec",2015.0,8.0,14.0
41075,30816,1115,4,2015-08-13,1.0,0,0,1,4,3,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec",2015.0,8.0,13.0
41076,31672,1115,3,2015-08-12,1.0,0,0,1,4,3,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec",2015.0,8.0,12.0
41077,32528,1115,2,2015-08-11,1.0,0,0,1,4,3,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec",2015.0,8.0,11.0
41078,33384,1115,1,2015-08-10,1.0,0,0,1,4,3,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec",2015.0,8.0,10.0
41079,34240,1115,7,2015-08-09,0.0,0,0,1,4,3,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec",2015.0,8.0,9.0
41080,35096,1115,6,2015-08-08,1.0,0,0,1,4,3,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec",2015.0,8.0,8.0
41081,35952,1115,5,2015-08-07,1.0,1,0,1,4,3,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec",2015.0,8.0,7.0
41082,36808,1115,4,2015-08-06,1.0,1,0,1,4,3,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec",2015.0,8.0,6.0
41083,37664,1115,3,2015-08-05,1.0,1,0,1,4,3,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec",2015.0,8.0,5.0
41084,38520,1115,2,2015-08-04,1.0,1,0,1,4,3,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec",2015.0,8.0,4.0
41085,39376,1115,1,2015-08-03,1.0,1,0,1,4,3,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec",2015.0,8.0,3.0
41086,40232,1115,7,2015-08-02,0.0,0,0,1,4,3,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec",2015.0,8.0,2.0
41087,41088,1115,6,2015-08-01,1.0,0,0,1,4,3,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec",2015.0,8.0,1.0

In [67]:
#removing nans
test_data.fillna(0, inplace=True)
train_data.fillna(0, inplace=True)

train_data

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,...,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,year,month,day
0,1,5,2015-07-31,5263,555,1,1,0,1,3,...,1270.0,9.0,2008.0,0,0.0,0.0,0,2015.0,7.0,31.0
1,1,4,2015-07-30,5020,546,1,1,0,1,3,...,1270.0,9.0,2008.0,0,0.0,0.0,0,2015.0,7.0,30.0
2,1,3,2015-07-29,4782,523,1,1,0,1,3,...,1270.0,9.0,2008.0,0,0.0,0.0,0,2015.0,7.0,29.0
3,1,2,2015-07-28,5011,560,1,1,0,1,3,...,1270.0,9.0,2008.0,0,0.0,0.0,0,2015.0,7.0,28.0
4,1,1,2015-07-27,6102,612,1,1,0,1,3,...,1270.0,9.0,2008.0,0,0.0,0.0,0,2015.0,7.0,27.0
5,1,6,2015-07-25,4364,500,1,0,0,0,3,...,1270.0,9.0,2008.0,0,0.0,0.0,0,2015.0,7.0,25.0
6,1,5,2015-07-24,3706,459,1,0,0,0,3,...,1270.0,9.0,2008.0,0,0.0,0.0,0,2015.0,7.0,24.0
7,1,4,2015-07-23,3769,503,1,0,0,0,3,...,1270.0,9.0,2008.0,0,0.0,0.0,0,2015.0,7.0,23.0
8,1,3,2015-07-22,3464,463,1,0,0,0,3,...,1270.0,9.0,2008.0,0,0.0,0.0,0,2015.0,7.0,22.0
9,1,2,2015-07-21,3558,469,1,0,0,0,3,...,1270.0,9.0,2008.0,0,0.0,0.0,0,2015.0,7.0,21.0
10,1,1,2015-07-20,4395,526,1,0,0,0,3,...,1270.0,9.0,2008.0,0,0.0,0.0,0,2015.0,7.0,20.0
11,1,6,2015-07-18,4406,512,1,0,0,0,3,...,1270.0,9.0,2008.0,0,0.0,0.0,0,2015.0,7.0,18.0
12,1,5,2015-07-17,4852,519,1,1,0,0,3,...,1270.0,9.0,2008.0,0,0.0,0.0,0,2015.0,7.0,17.0
13,1,4,2015-07-16,4427,517,1,1,0,0,3,...,1270.0,9.0,2008.0,0,0.0,0.0,0,2015.0,7.0,16.0
14,1,3,2015-07-15,4767,550,1,1,0,0,3,...,1270.0,9.0,2008.0,0,0.0,0.0,0,2015.0,7.0,15.0
15,1,2,2015-07-14,5042,544,1,1,0,0,3,...,1270.0,9.0,2008.0,0,0.0,0.0,0,2015.0,7.0,14.0
16,1,1,2015-07-13,5054,553,1,1,0,0,3,...,1270.0,9.0,2008.0,0,0.0,0.0,0,2015.0,7.0,13.0
17,1,6,2015-07-11,3530,441,1,0,0,0,3,...,1270.0,9.0,2008.0,0,0.0,0.0,0,2015.0,7.0,11.0
18,1,5,2015-07-10,3808,449,1,0,0,0,3,...,1270.0,9.0,2008.0,0,0.0,0.0,0,2015.0,7.0,10.0
19,1,4,2015-07-09,3897,480,1,0,0,0,3,...,1270.0,9.0,2008.0,0,0.0,0.0,0,2015.0,7.0,9.0
20,1,3,2015-07-08,3797,485,1,0,0,0,3,...,1270.0,9.0,2008.0,0,0.0,0.0,0,2015.0,7.0,8.0
21,1,2,2015-07-07,3650,485,1,0,0,0,3,...,1270.0,9.0,2008.0,0,0.0,0.0,0,2015.0,7.0,7.0
22,1,1,2015-07-06,4359,540,1,0,0,0,3,...,1270.0,9.0,2008.0,0,0.0,0.0,0,2015.0,7.0,6.0
23,1,6,2015-07-04,4797,560,1,0,0,0,3,...,1270.0,9.0,2008.0,0,0.0,0.0,0,2015.0,7.0,4.0
24,1,5,2015-07-03,4665,538,1,1,0,0,3,...,1270.0,9.0,2008.0,0,0.0,0.0,0,2015.0,7.0,3.0
25,1,4,2015-07-02,5558,573,1,1,0,0,3,...,1270.0,9.0,2008.0,0,0.0,0.0,0,2015.0,7.0,2.0
26,1,3,2015-07-01,5223,562,1,1,0,0,3,...,1270.0,9.0,2008.0,0,0.0,0.0,0,2015.0,7.0,1.0
27,1,2,2015-06-30,5735,568,1,1,0,0,3,...,1270.0,9.0,2008.0,0,0.0,0.0,0,2015.0,6.0,30.0
28,1,1,2015-06-29,5197,541,1,1,0,0,3,...,1270.0,9.0,2008.0,0,0.0,0.0,0,2015.0,6.0,29.0
29,1,6,2015-06-27,4019,463,1,0,0,0,3,...,1270.0,9.0,2008.0,0,0.0,0.0,0,2015.0,6.0,27.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
844362,292,2,2013-02-05,7336,841,1,1,0,1,1,...,1100.0,6.0,2009.0,0,0.0,0.0,0,2013.0,2.0,5.0
844363,292,1,2013-02-04,7584,858,1,1,0,1,1,...,1100.0,6.0,2009.0,0,0.0,0.0,0,2013.0,2.0,4.0
844364,292,6,2013-02-02,3667,412,1,0,0,0,1,...,1100.0,6.0,2009.0,0,0.0,0.0,0,2013.0,2.0,2.0
844365,292,5,2013-02-01,5668,670,1,0,0,0,1,...,1100.0,6.0,2009.0,0,0.0,0.0,0,2013.0,2.0,1.0
844366,292,4,2013-01-31,5657,739,1,0,0,0,1,...,1100.0,6.0,2009.0,0,0.0,0.0,0,2013.0,1.0,31.0
844367,292,3,2013-01-30,4351,653,1,0,0,0,1,...,1100.0,6.0,2009.0,0,0.0,0.0,0,2013.0,1.0,30.0
844368,292,2,2013-01-29,4796,683,1,0,0,0,1,...,1100.0,6.0,2009.0,0,0.0,0.0,0,2013.0,1.0,29.0
844369,292,1,2013-01-28,5510,769,1,0,0,0,1,...,1100.0,6.0,2009.0,0,0.0,0.0,0,2013.0,1.0,28.0
844370,292,6,2013-01-26,3142,362,1,0,0,0,1,...,1100.0,6.0,2009.0,0,0.0,0.0,0,2013.0,1.0,26.0
844371,292,5,2013-01-25,6229,737,1,1,0,0,1,...,1100.0,6.0,2009.0,0,0.0,0.0,0,2013.0,1.0,25.0
844372,292,4,2013-01-24,5605,745,1,1,0,0,1,...,1100.0,6.0,2009.0,0,0.0,0.0,0,2013.0,1.0,24.0
844373,292,3,2013-01-23,5969,710,1,1,0,0,1,...,1100.0,6.0,2009.0,0,0.0,0.0,0,2013.0,1.0,23.0
844374,292,2,2013-01-22,6757,797,1,1,0,0,1,...,1100.0,6.0,2009.0,0,0.0,0.0,0,2013.0,1.0,22.0
844375,292,1,2013-01-21,7863,916,1,1,0,0,1,...,1100.0,6.0,2009.0,0,0.0,0.0,0,2013.0,1.0,21.0
844376,292,6,2013-01-19,2676,328,1,0,0,0,1,...,1100.0,6.0,2009.0,0,0.0,0.0,0,2013.0,1.0,19.0
844377,292,5,2013-01-18,4943,644,1,0,0,0,1,...,1100.0,6.0,2009.0,0,0.0,0.0,0,2013.0,1.0,18.0
844378,292,4,2013-01-17,4829,686,1,0,0,0,1,...,1100.0,6.0,2009.0,0,0.0,0.0,0,2013.0,1.0,17.0
844379,292,3,2013-01-16,4979,671,1,0,0,0,1,...,1100.0,6.0,2009.0,0,0.0,0.0,0,2013.0,1.0,16.0
844380,292,2,2013-01-15,4723,711,1,0,0,0,1,...,1100.0,6.0,2009.0,0,0.0,0.0,0,2013.0,1.0,15.0
844381,292,1,2013-01-14,5560,784,1,0,0,0,1,...,1100.0,6.0,2009.0,0,0.0,0.0,0,2013.0,1.0,14.0
844382,292,6,2013-01-12,3035,373,1,0,0,0,1,...,1100.0,6.0,2009.0,0,0.0,0.0,0,2013.0,1.0,12.0
844383,292,5,2013-01-11,6316,756,1,1,0,0,1,...,1100.0,6.0,2009.0,0,0.0,0.0,0,2013.0,1.0,11.0
844384,292,4,2013-01-10,6173,747,1,1,0,0,1,...,1100.0,6.0,2009.0,0,0.0,0.0,0,2013.0,1.0,10.0
844385,292,3,2013-01-09,6436,765,1,1,0,0,1,...,1100.0,6.0,2009.0,0,0.0,0.0,0,2013.0,1.0,9.0
844386,292,2,2013-01-08,6859,792,1,1,0,0,1,...,1100.0,6.0,2009.0,0,0.0,0.0,0,2013.0,1.0,8.0
844387,292,1,2013-01-07,9291,1002,1,1,0,0,1,...,1100.0,6.0,2009.0,0,0.0,0.0,0,2013.0,1.0,7.0
844388,292,6,2013-01-05,2748,340,1,0,0,0,1,...,1100.0,6.0,2009.0,0,0.0,0.0,0,2013.0,1.0,5.0
844389,292,5,2013-01-04,4202,560,1,0,0,1,1,...,1100.0,6.0,2009.0,0,0.0,0.0,0,2013.0,1.0,4.0
844390,292,4,2013-01-03,4580,662,1,0,0,1,1,...,1100.0,6.0,2009.0,0,0.0,0.0,0,2013.0,1.0,3.0
844391,292,3,2013-01-02,5076,672,1,0,0,1,1,...,1100.0,6.0,2009.0,0,0.0,0.0,0,2013.0,1.0,2.0

In [68]:
test_data

,Id,Store,DayOfWeek,Date,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,year,month,day
0,1,1,4,2015-09-17,1.0,1,0,0,3,1,1270.0,9.0,2008.0,0,0.0,0.0,0,2015.0,9.0,17.0
1,857,1,3,2015-09-16,1.0,1,0,0,3,1,1270.0,9.0,2008.0,0,0.0,0.0,0,2015.0,9.0,16.0
2,1713,1,2,2015-09-15,1.0,1,0,0,3,1,1270.0,9.0,2008.0,0,0.0,0.0,0,2015.0,9.0,15.0
3,2569,1,1,2015-09-14,1.0,1,0,0,3,1,1270.0,9.0,2008.0,0,0.0,0.0,0,2015.0,9.0,14.0
4,3425,1,7,2015-09-13,0.0,0,0,0,3,1,1270.0,9.0,2008.0,0,0.0,0.0,0,2015.0,9.0,13.0
5,4281,1,6,2015-09-12,1.0,0,0,0,3,1,1270.0,9.0,2008.0,0,0.0,0.0,0,2015.0,9.0,12.0
6,5137,1,5,2015-09-11,1.0,0,0,0,3,1,1270.0,9.0,2008.0,0,0.0,0.0,0,2015.0,9.0,11.0
7,5993,1,4,2015-09-10,1.0,0,0,0,3,1,1270.0,9.0,2008.0,0,0.0,0.0,0,2015.0,9.0,10.0
8,6849,1,3,2015-09-09,1.0,0,0,0,3,1,1270.0,9.0,2008.0,0,0.0,0.0,0,2015.0,9.0,9.0
9,7705,1,2,2015-09-08,1.0,0,0,0,3,1,1270.0,9.0,2008.0,0,0.0,0.0,0,2015.0,9.0,8.0
10,8561,1,1,2015-09-07,1.0,0,0,0,3,1,1270.0,9.0,2008.0,0,0.0,0.0,0,2015.0,9.0,7.0
11,9417,1,7,2015-09-06,0.0,0,0,0,3,1,1270.0,9.0,2008.0,0,0.0,0.0,0,2015.0,9.0,6.0
12,10273,1,6,2015-09-05,1.0,0,0,0,3,1,1270.0,9.0,2008.0,0,0.0,0.0,0,2015.0,9.0,5.0
13,11129,1,5,2015-09-04,1.0,1,0,1,3,1,1270.0,9.0,2008.0,0,0.0,0.0,0,2015.0,9.0,4.0
14,11985,1,4,2015-09-03,1.0,1,0,1,3,1,1270.0,9.0,2008.0,0,0.0,0.0,0,2015.0,9.0,3.0
15,12841,1,3,2015-09-02,1.0,1,0,1,3,1,1270.0,9.0,2008.0,0,0.0,0.0,0,2015.0,9.0,2.0
16,13697,1,2,2015-09-01,1.0,1,0,1,3,1,1270.0,9.0,2008.0,0,0.0,0.0,0,2015.0,9.0,1.0
17,14553,1,1,2015-08-31,1.0,1,0,1,3,1,1270.0,9.0,2008.0,0,0.0,0.0,0,2015.0,8.0,31.0
18,15409,1,7,2015-08-30,0.0,0,0,1,3,1,1270.0,9.0,2008.0,0,0.0,0.0,0,2015.0,8.0,30.0
19,16265,1,6,2015-08-29,1.0,0,0,1,3,1,1270.0,9.0,2008.0,0,0.0,0.0,0,2015.0,8.0,29.0
20,17121,1,5,2015-08-28,1.0,0,0,1,3,1,1270.0,9.0,2008.0,0,0.0,0.0,0,2015.0,8.0,28.0
21,17977,1,4,2015-08-27,1.0,0,0,1,3,1,1270.0,9.0,2008.0,0,0.0,0.0,0,2015.0,8.0,27.0
22,18833,1,3,2015-08-26,1.0,0,0,1,3,1,1270.0,9.0,2008.0,0,0.0,0.0,0,2015.0,8.0,26.0
23,19689,1,2,2015-08-25,1.0,0,0,1,3,1,1270.0,9.0,2008.0,0,0.0,0.0,0,2015.0,8.0,25.0
24,20545,1,1,2015-08-24,1.0,0,0,1,3,1,1270.0,9.0,2008.0,0,0.0,0.0,0,2015.0,8.0,24.0
25,21401,1,7,2015-08-23,0.0,0,0,1,3,1,1270.0,9.0,2008.0,0,0.0,0.0,0,2015.0,8.0,23.0
26,22257,1,6,2015-08-22,1.0,0,0,1,3,1,1270.0,9.0,2008.0,0,0.0,0.0,0,2015.0,8.0,22.0
27,23113,1,5,2015-08-21,1.0,1,0,1,3,1,1270.0,9.0,2008.0,0,0.0,0.0,0,2015.0,8.0,21.0
28,23969,1,4,2015-08-20,1.0,1,0,1,3,1,1270.0,9.0,2008.0,0,0.0,0.0,0,2015.0,8.0,20.0
29,24825,1,3,2015-08-19,1.0,1,0,1,3,1,1270.0,9.0,2008.0,0,0.0,0.0,0,2015.0,8.0,19.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41058,16264,1115,7,2015-08-30,0.0,0,0,1,4,3,5350.0,0.0,0.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec",2015.0,8.0,30.0
41059,17120,1115,6,2015-08-29,1.0,0,0,1,4,3,5350.0,0.0,0.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec",2015.0,8.0,29.0
41060,17976,1115,5,2015-08-28,1.0,0,0,1,4,3,5350.0,0.0,0.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec",2015.0,8.0,28.0
41061,18832,1115,4,2015-08-27,1.0,0,0,1,4,3,5350.0,0.0,0.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec",2015.0,8.0,27.0
41062,19688,1115,3,2015-08-26,1.0,0,0,1,4,3,5350.0,0.0,0.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec",2015.0,8.0,26.0
41063,20544,1115,2,2015-08-25,1.0,0,0,1,4,3,5350.0,0.0,0.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec",2015.0,8.0,25.0
41064,21400,1115,1,2015-08-24,1.0,0,0,1,4,3,5350.0,0.0,0.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec",2015.0,8.0,24.0
41065,22256,1115,7,2015-08-23,0.0,0,0,1,4,3,5350.0,0.0,0.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec",2015.0,8.0,23.0
41066,23112,1115,6,2015-08-22,1.0,0,0,1,4,3,5350.0,0.0,0.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec",2015.0,8.0,22.0
41067,23968,1115,5,2015-08-21,1.0,1,0,1,4,3,5350.0,0.0,0.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec",2015.0,8.0,21.0
41068,24824,1115,4,2015-08-20,1.0,1,0,1,4,3,5350.0,0.0,0.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec",2015.0,8.0,20.0
41069,25680,1115,3,2015-08-19,1.0,1,0,1,4,3,5350.0,0.0,0.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec",2015.0,8.0,19.0
41070,26536,1115,2,2015-08-18,1.0,1,0,1,4,3,5350.0,0.0,0.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec",2015.0,8.0,18.0
41071,27392,1115,1,2015-08-17,1.0,1,0,1,4,3,5350.0,0.0,0.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec",2015.0,8.0,17.0
41072,28248,1115,7,2015-08-16,0.0,0,0,1,4,3,5350.0,0.0,0.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec",2015.0,8.0,16.0
41073,29104,1115,6,2015-08-15,1.0,0,0,1,4,3,5350.0,0.0,0.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec",2015.0,8.0,15.0
41074,29960,1115,5,2015-08-14,1.0,0,0,1,4,3,5350.0,0.0,0.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec",2015.0,8.0,14.0
41075,30816,1115,4,2015-08-13,1.0,0,0,1,4,3,5350.0,0.0,0.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec",2015.0,8.0,13.0
41076,31672,1115,3,2015-08-12,1.0,0,0,1,4,3,5350.0,0.0,0.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec",2015.0,8.0,12.0
41077,32528,1115,2,2015-08-11,1.0,0,0,1,4,3,5350.0,0.0,0.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec",2015.0,8.0,11.0
41078,33384,1115,1,2015-08-10,1.0,0,0,1,4,3,5350.0,0.0,0.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec",2015.0,8.0,10.0
41079,34240,1115,7,2015-08-09,0.0,0,0,1,4,3,5350.0,0.0,0.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec",2015.0,8.0,9.0
41080,35096,1115,6,2015-08-08,1.0,0,0,1,4,3,5350.0,0.0,0.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec",2015.0,8.0,8.0
41081,35952,1115,5,2015-08-07,1.0,1,0,1,4,3,5350.0,0.0,0.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec",2015.0,8.0,7.0
41082,36808,1115,4,2015-08-06,1.0,1,0,1,4,3,5350.0,0.0,0.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec",2015.0,8.0,6.0
41083,37664,1115,3,2015-08-05,1.0,1,0,1,4,3,5350.0,0.0,0.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec",2015.0,8.0,5.0
41084,38520,1115,2,2015-08-04,1.0,1,0,1,4,3,5350.0,0.0,0.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec",2015.0,8.0,4.0
41085,39376,1115,1,2015-08-03,1.0,1,0,1,4,3,5350.0,0.0,0.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec",2015.0,8.0,3.0
41086,40232,1115,7,2015-08-02,0.0,0,0,1,4,3,5350.0,0.0,0.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec",2015.0,8.0,2.0
41087,41088,1115,6,2015-08-01,1.0,0,0,1,4,3,5350.0,0.0,0.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec",2015.0,8.0,1.0

In [69]:
#deleting id's
del test_data['Id']
del test_data['Date']
del test_data['PromoInterval']
del train_data['StateHoliday']


del train_data['Customers']
del train_data['Date']
del train_data['PromoInterval']
del test_data['StateHoliday']


train_data['StoreType'] = train_data['StoreType'].astype(float)
test_data['StoreType'] = test_data['StoreType'].astype(float)

train_data['Assortment'] = train_data['Assortment'].astype(float)
test_data['Assortment'] = test_data['Assortment'].astype(float)

In [77]:
train_features=list(test_data.columns)
train_features

['Store',
 'DayOfWeek',
 'Open',
 'Promo',
 'SchoolHoliday',
 'StoreType',
 'Assortment',
 'CompetitionDistance',
 'CompetitionOpenSinceMonth',
 'CompetitionOpenSinceYear',
 'Promo2',
 'Promo2SinceWeek',
 'Promo2SinceYear',
 'year',
 'month',
 'day']

In [78]:
test_data.columns

Index(['Store', 'DayOfWeek', 'Open', 'Promo', 'SchoolHoliday', 'StoreType',
       'Assortment', 'CompetitionDistance', 'CompetitionOpenSinceMonth',
       'CompetitionOpenSinceYear', 'Promo2', 'Promo2SinceWeek',
       'Promo2SinceYear', 'year', 'month', 'day'],
      dtype='object')

In [83]:
acc=0.9
def ToWeight(y):
    w = np.zeros(y.shape, dtype=float)
    ind = y != 0
    w[ind] = 1./(y[ind]**2)
    return w


def rmspe(yhat, y):
    w = ToWeight(y)
    rmspe = np.sqrt(np.mean( w * (y - yhat)**2 ))
    return rmspe


def rmspe_xg(yhat, y):
    # y = y.values
    y = y.get_label()
    y = np.exp(y) - 1
    yhat = np.exp(yhat) - 1
    w = ToWeight(y)
    rmspe = np.sqrt(np.mean(w * (y - yhat)**2))
    return "rmspe", rmspe

In [82]:
params = {"objective": "reg:linear",
          "eta": 0.3,
          "max_depth": 8,
          "subsample": 0.7,
          "colsample_bytree": 0.7,
          "silent": 1
          }
num_trees = 300

print("Train a XGBoost model")
val_size = 100000
X_train, X_test = cross_validation.train_test_split(train_data, test_size=0.01)
dtrain = xgb.DMatrix(X_train[train_features], np.log(X_train["Sales"] + 1))
dvalid = xgb.DMatrix(X_test[train_features], np.log(X_test["Sales"] + 1))
dtest = xgb.DMatrix(test_data)
watchlist = [(dvalid, 'eval'), (dtrain, 'train')]
gbm = xgb.train(params, dtrain, num_trees, evals=watchlist, early_stopping_rounds=50, feval=rmspe_xg, verbose_eval=True)

print("Validating")
train_probs = gbm.predict(xgb.DMatrix(X_test[train_features]))
indices = train_probs < 0
train_probs[indices] = 0
error = rmspe(np.exp(train_probs) - 1, X_test['Sales'].values)
print('error', error)

print("Make predictions on the test set")
new_test_read=pd.read_csv("dataset/test.csv")
test_probs = gbm.predict(xgb.DMatrix(test_data[train_features]))
indices = test_probs < 0
test_probs[indices] = 0
submission = pd.DataFrame({"Id": new_test_read["Id"], "Sales": np.exp(test_probs) - 1})
submission.to_csv("xgboost_kscript_submission.csv", index=False)

Train a XGBoost model
[0]	eval-rmse:5.79554	train-rmse:5.79474	eval-rmspe:0.996707	train-rmspe:0.996787
Multiple eval metrics have been passed: 'train-rmspe' will be used for early stopping.

Will train until train-rmspe hasn't improved in 50 rounds.
[1]	eval-rmse:4.0658	train-rmse:4.06444	eval-rmspe:0.98133	train-rmspe:0.981384
[2]	eval-rmse:2.85858	train-rmse:2.85622	eval-rmspe:0.937659	train-rmspe:0.937663
[3]	eval-rmse:2.0164	train-rmse:2.01316	eval-rmspe:0.856074	train-rmspe:0.856157
[4]	eval-rmse:1.433	train-rmse:1.42803	eval-rmspe:0.743009	train-rmspe:0.743553
[5]	eval-rmse:1.03023	train-rmse:1.02417	eval-rmspe:0.617623	train-rmspe:0.61986
[6]	eval-rmse:0.758169	train-rmse:0.750173	eval-rmspe:0.501286	train-rmspe:0.506773
[7]	eval-rmse:0.577006	train-rmse:0.566328	eval-rmspe:0.407888	train-rmspe:0.418154
[8]	eval-rmse:0.460755	train-rmse:0.446443	eval-rmspe:0.342699	train-rmspe:0.358282
[9]	eval-rmse:0.392024	train-rmse:0.374992	eval-rmspe:0.307072	train-rmspe:0.32722
[10]	eval-rmse:0.349993	train-rmse:0.330753	eval-rmspe:0.288746	train-rmspe:0.313703
[11]	eval-rmse:0.328313	train-rmse:0.307624	eval-rmspe:0.284637	train-rmspe:0.312361
[12]	eval-rmse:0.312686	train-rmse:0.291036	eval-rmspe:0.281786	train-rmspe:0.311759
[13]	eval-rmse:0.305895	train-rmse:0.283403	eval-rmspe:0.284208	train-rmspe:0.313951
[14]	eval-rmse:0.300449	train-rmse:0.277863	eval-rmspe:0.284379	train-rmspe:0.315391
[15]	eval-rmse:0.295465	train-rmse:0.271752	eval-rmspe:0.282833	train-rmspe:0.313695
[16]	eval-rmse:0.287448	train-rmse:0.263437	eval-rmspe:0.275895	train-rmspe:0.308672
[17]	eval-rmse:0.283693	train-rmse:0.259384	eval-rmspe:0.27344	train-rmspe:0.306779
[18]	eval-rmse:0.279938	train-rmse:0.25501	eval-rmspe:0.269211	train-rmspe:0.303403
[19]	eval-rmse:0.272944	train-rmse:0.247576	eval-rmspe:0.260776	train-rmspe:0.296874
[20]	eval-rmse:0.272029	train-rmse:0.246514	eval-rmspe:0.260525	train-rmspe:0.297535
[21]	eval-rmse:0.269091	train-rmse:0.243175	eval-rmspe:0.257349	train-rmspe:0.293879
[22]	eval-rmse:0.267744	train-rmse:0.241569	eval-rmspe:0.255921	train-rmspe:0.292682
[23]	eval-rmse:0.26075	train-rmse:0.233305	eval-rmspe:0.24461	train-rmspe:0.282525
[24]	eval-rmse:0.257778	train-rmse:0.230055	eval-rmspe:0.240768	train-rmspe:0.279918
[25]	eval-rmse:0.25246	train-rmse:0.224381	eval-rmspe:0.232328	train-rmspe:0.273725
[26]	eval-rmse:0.251455	train-rmse:0.223205	eval-rmspe:0.231154	train-rmspe:0.272766
[27]	eval-rmse:0.246461	train-rmse:0.217189	eval-rmspe:0.224162	train-rmspe:0.266806
[28]	eval-rmse:0.2394	train-rmse:0.20901	eval-rmspe:0.213696	train-rmspe:0.259419
[29]	eval-rmse:0.238415	train-rmse:0.207766	eval-rmspe:0.212283	train-rmspe:0.258046
[30]	eval-rmse:0.237548	train-rmse:0.206751	eval-rmspe:0.211155	train-rmspe:0.256766
[31]	eval-rmse:0.235508	train-rmse:0.204139	eval-rmspe:0.207731	train-rmspe:0.253929
[32]	eval-rmse:0.232444	train-rmse:0.200471	eval-rmspe:0.203641	train-rmspe:0.250335
[33]	eval-rmse:0.230733	train-rmse:0.19845	eval-rmspe:0.201125	train-rmspe:0.248292
[34]	eval-rmse:0.229995	train-rmse:0.197542	eval-rmspe:0.200333	train-rmspe:0.247206
[35]	eval-rmse:0.22892	train-rmse:0.196218	eval-rmspe:0.199004	train-rmspe:0.245412
[36]	eval-rmse:0.226884	train-rmse:0.193809	eval-rmspe:0.19621	train-rmspe:0.243279
[37]	eval-rmse:0.225019	train-rmse:0.191686	eval-rmspe:0.193502	train-rmspe:0.240961
[38]	eval-rmse:0.220245	train-rmse:0.186162	eval-rmspe:0.186549	train-rmspe:0.235433
[39]	eval-rmse:0.219071	train-rmse:0.18476	eval-rmspe:0.184938	train-rmspe:0.23382
[40]	eval-rmse:0.217517	train-rmse:0.182702	eval-rmspe:0.182539	train-rmspe:0.231833
[41]	eval-rmse:0.214076	train-rmse:0.178741	eval-rmspe:0.177629	train-rmspe:0.229249
[42]	eval-rmse:0.211299	train-rmse:0.175427	eval-rmspe:0.173424	train-rmspe:0.226113
[43]	eval-rmse:0.210745	train-rmse:0.174712	eval-rmspe:0.172636	train-rmspe:0.22538
[44]	eval-rmse:0.209542	train-rmse:0.173321	eval-rmspe:0.170921	train-rmspe:0.221946
[45]	eval-rmse:0.2086	train-rmse:0.172332	eval-rmspe:0.169741	train-rmspe:0.220582
[46]	eval-rmse:0.20673	train-rmse:0.170205	eval-rmspe:0.167021	train-rmspe:0.218674
[47]	eval-rmse:0.206405	train-rmse:0.169648	eval-rmspe:0.166633	train-rmspe:0.218101
[48]	eval-rmse:0.206312	train-rmse:0.169035	eval-rmspe:0.165633	train-rmspe:0.217612
[49]	eval-rmse:0.205414	train-rmse:0.168313	eval-rmspe:0.164922	train-rmspe:0.216999
[50]	eval-rmse:0.205004	train-rmse:0.167826	eval-rmspe:0.164384	train-rmspe:0.216615
[51]	eval-rmse:0.20298	train-rmse:0.165433	eval-rmspe:0.160931	train-rmspe:0.214218
[52]	eval-rmse:0.202022	train-rmse:0.164273	eval-rmspe:0.159535	train-rmspe:0.213211
[53]	eval-rmse:0.201449	train-rmse:0.163554	eval-rmspe:0.158515	train-rmspe:0.212494
[54]	eval-rmse:0.201083	train-rmse:0.162858	eval-rmspe:0.158073	train-rmspe:0.21192
[55]	eval-rmse:0.200456	train-rmse:0.162054	eval-rmspe:0.157198	train-rmspe:0.211326
[56]	eval-rmse:0.199736	train-rmse:0.161032	eval-rmspe:0.15603	train-rmspe:0.209992
[57]	eval-rmse:0.199019	train-rmse:0.160031	eval-rmspe:0.154874	train-rmspe:0.207808
[58]	eval-rmse:0.198178	train-rmse:0.158976	eval-rmspe:0.15362	train-rmspe:0.206875
[59]	eval-rmse:0.197782	train-rmse:0.15831	eval-rmspe:0.152996	train-rmspe:0.20599
[60]	eval-rmse:0.196913	train-rmse:0.157264	eval-rmspe:0.151687	train-rmspe:0.204663
[61]	eval-rmse:0.196317	train-rmse:0.156364	eval-rmspe:0.150795	train-rmspe:0.203766
[62]	eval-rmse:0.195971	train-rmse:0.155798	eval-rmspe:0.150274	train-rmspe:0.203099
[63]	eval-rmse:0.195497	train-rmse:0.155108	eval-rmspe:0.149603	train-rmspe:0.202525
[64]	eval-rmse:0.194978	train-rmse:0.154461	eval-rmspe:0.148725	train-rmspe:0.201604
[65]	eval-rmse:0.194582	train-rmse:0.153815	eval-rmspe:0.148168	train-rmspe:0.201134
[66]	eval-rmse:0.194028	train-rmse:0.15309	eval-rmspe:0.147432	train-rmspe:0.200383
[67]	eval-rmse:0.193653	train-rmse:0.152587	eval-rmspe:0.146884	train-rmspe:0.199233
[68]	eval-rmse:0.193272	train-rmse:0.152099	eval-rmspe:0.146223	train-rmspe:0.199149
[69]	eval-rmse:0.192824	train-rmse:0.151372	eval-rmspe:0.145595	train-rmspe:0.198916
[70]	eval-rmse:0.192842	train-rmse:0.150878	eval-rmspe:0.145303	train-rmspe:0.198245
[71]	eval-rmse:0.192648	train-rmse:0.150562	eval-rmspe:0.14495	train-rmspe:0.197964
[72]	eval-rmse:0.192031	train-rmse:0.149678	eval-rmspe:0.143916	train-rmspe:0.197099
[73]	eval-rmse:0.19159	train-rmse:0.149091	eval-rmspe:0.143252	train-rmspe:0.196591
[74]	eval-rmse:0.190849	train-rmse:0.148095	eval-rmspe:0.141977	train-rmspe:0.196279
[75]	eval-rmse:0.190374	train-rmse:0.14744	eval-rmspe:0.14124	train-rmspe:0.195861
[76]	eval-rmse:0.189849	train-rmse:0.146689	eval-rmspe:0.140473	train-rmspe:0.195257
[77]	eval-rmse:0.189681	train-rmse:0.146441	eval-rmspe:0.140215	train-rmspe:0.194912
[78]	eval-rmse:0.189221	train-rmse:0.145729	eval-rmspe:0.139601	train-rmspe:0.19386
[79]	eval-rmse:0.188979	train-rmse:0.145373	eval-rmspe:0.139173	train-rmspe:0.193511
[80]	eval-rmse:0.188818	train-rmse:0.145185	eval-rmspe:0.138954	train-rmspe:0.193376
[81]	eval-rmse:0.188503	train-rmse:0.144896	eval-rmspe:0.138677	train-rmspe:0.193105
[82]	eval-rmse:0.182903	train-rmse:0.14426	eval-rmspe:0.137936	train-rmspe:0.192917
[83]	eval-rmse:0.182717	train-rmse:0.143964	eval-rmspe:0.137593	train-rmspe:0.192315
[84]	eval-rmse:0.182491	train-rmse:0.143673	eval-rmspe:0.137269	train-rmspe:0.192191
[85]	eval-rmse:0.182126	train-rmse:0.143116	eval-rmspe:0.13669	train-rmspe:0.191639
[86]	eval-rmse:0.178194	train-rmse:0.142749	eval-rmspe:0.136405	train-rmspe:0.191443
[87]	eval-rmse:0.177896	train-rmse:0.142313	eval-rmspe:0.135974	train-rmspe:0.190919
[88]	eval-rmse:0.177626	train-rmse:0.141948	eval-rmspe:0.135591	train-rmspe:0.190602
[89]	eval-rmse:0.177455	train-rmse:0.141655	eval-rmspe:0.135344	train-rmspe:0.189866
[90]	eval-rmse:0.177127	train-rmse:0.141264	eval-rmspe:0.134832	train-rmspe:0.189506
[91]	eval-rmse:0.17669	train-rmse:0.140756	eval-rmspe:0.134202	train-rmspe:0.188929
[92]	eval-rmse:0.176374	train-rmse:0.140357	eval-rmspe:0.133586	train-rmspe:0.188495
[93]	eval-rmse:0.176354	train-rmse:0.139966	eval-rmspe:0.133411	train-rmspe:0.188205
[94]	eval-rmse:0.176066	train-rmse:0.139558	eval-rmspe:0.132912	train-rmspe:0.187836
[95]	eval-rmse:0.175901	train-rmse:0.13929	eval-rmspe:0.132672	train-rmspe:0.187572

[96]	eval-rmse:0.175524	train-rmse:0.13883	eval-rmspe:0.13211	train-rmspe:0.18716
[97]	eval-rmse:0.175362	train-rmse:0.138605	eval-rmspe:0.131779	train-rmspe:0.186995
[98]	eval-rmse:0.175258	train-rmse:0.13849	eval-rmspe:0.13162	train-rmspe:0.186868
[99]	eval-rmse:0.174975	train-rmse:0.138197	eval-rmspe:0.131117	train-rmspe:0.186584
[100]	eval-rmse:0.174689	train-rmse:0.137784	eval-rmspe:0.130702	train-rmspe:0.186288
[101]	eval-rmse:0.174424	train-rmse:0.137351	eval-rmspe:0.130362	train-rmspe:0.185999
[102]	eval-rmse:0.174241	train-rmse:0.136943	eval-rmspe:0.130132	train-rmspe:0.185334
[103]	eval-rmse:0.174122	train-rmse:0.136755	eval-rmspe:0.129969	train-rmspe:0.185083
[104]	eval-rmse:0.174158	train-rmse:0.136325	eval-rmspe:0.12967	train-rmspe:0.184846
[105]	eval-rmse:0.174005	train-rmse:0.136149	eval-rmspe:0.129538	train-rmspe:0.184643
[106]	eval-rmse:0.173887	train-rmse:0.135925	eval-rmspe:0.129301	train-rmspe:0.18458
[107]	eval-rmse:0.172984	train-rmse:0.135725	eval-rmspe:0.129179	train-rmspe:0.184501
[108]	eval-rmse:0.172625	train-rmse:0.135311	eval-rmspe:0.128606	train-rmspe:0.184187
[109]	eval-rmse:0.172479	train-rmse:0.135019	eval-rmspe:0.128367	train-rmspe:0.183829
[110]	eval-rmse:0.17301	train-rmse:0.134837	eval-rmspe:0.128058	train-rmspe:0.183329
[111]	eval-rmse:0.172723	train-rmse:0.134388	eval-rmspe:0.127649	train-rmspe:0.182866
[112]	eval-rmse:0.172659	train-rmse:0.134265	eval-rmspe:0.127559	train-rmspe:0.181046
[113]	eval-rmse:0.172499	train-rmse:0.134043	eval-rmspe:0.127289	train-rmspe:0.180825
[114]	eval-rmse:0.172104	train-rmse:0.133573	eval-rmspe:0.126402	train-rmspe:0.179944
[115]	eval-rmse:0.172043	train-rmse:0.133413	eval-rmspe:0.126291	train-rmspe:0.179796
[116]	eval-rmse:0.171932	train-rmse:0.133265	eval-rmspe:0.12615	train-rmspe:0.17952
[117]	eval-rmse:0.17158	train-rmse:0.133181	eval-rmspe:0.126103	train-rmspe:0.17945
[118]	eval-rmse:0.171545	train-rmse:0.13306	eval-rmspe:0.12606	train-rmspe:0.179455
[119]	eval-rmse:0.171156	train-rmse:0.13272	eval-rmspe:0.125726	train-rmspe:0.179019
[120]	eval-rmse:0.171122	train-rmse:0.132645	eval-rmspe:0.125665	train-rmspe:0.178934
[121]	eval-rmse:0.170923	train-rmse:0.132524	eval-rmspe:0.125106	train-rmspe:0.178831
[122]	eval-rmse:0.170763	train-rmse:0.132383	eval-rmspe:0.124782	train-rmspe:0.1787
[123]	eval-rmse:0.17061	train-rmse:0.132187	eval-rmspe:0.12455	train-rmspe:0.178537
[124]	eval-rmse:0.170477	train-rmse:0.131964	eval-rmspe:0.124379	train-rmspe:0.17777
[125]	eval-rmse:0.17048	train-rmse:0.131672	eval-rmspe:0.12409	train-rmspe:0.177508
[126]	eval-rmse:0.17038	train-rmse:0.131285	eval-rmspe:0.123954	train-rmspe:0.177354
[127]	eval-rmse:0.170328	train-rmse:0.131146	eval-rmspe:0.123784	train-rmspe:0.177247
[128]	eval-rmse:0.170231	train-rmse:0.130934	eval-rmspe:0.123603	train-rmspe:0.177038
[129]	eval-rmse:0.170034	train-rmse:0.130651	eval-rmspe:0.12333	train-rmspe:0.176811
[130]	eval-rmse:0.169884	train-rmse:0.130504	eval-rmspe:0.123083	train-rmspe:0.176672
[131]	eval-rmse:0.169735	train-rmse:0.130253	eval-rmspe:0.122922	train-rmspe:0.176229
[132]	eval-rmse:0.169544	train-rmse:0.130059	eval-rmspe:0.122649	train-rmspe:0.176084
[133]	eval-rmse:0.169444	train-rmse:0.12992	eval-rmspe:0.122474	train-rmspe:0.175962
[134]	eval-rmse:0.169314	train-rmse:0.129782	eval-rmspe:0.122263	train-rmspe:0.175579
[135]	eval-rmse:0.169201	train-rmse:0.129609	eval-rmspe:0.122065	train-rmspe:0.175475
[136]	eval-rmse:0.16901	train-rmse:0.12937	eval-rmspe:0.121825	train-rmspe:0.175313
[137]	eval-rmse:0.168947	train-rmse:0.129268	eval-rmspe:0.121702	train-rmspe:0.17504
[138]	eval-rmse:0.168745	train-rmse:0.128979	eval-rmspe:0.121335	train-rmspe:0.174713
[139]	eval-rmse:0.168669	train-rmse:0.128851	eval-rmspe:0.121264	train-rmspe:0.174591
[140]	eval-rmse:0.168415	train-rmse:0.128568	eval-rmspe:0.120898	train-rmspe:0.174489
[141]	eval-rmse:0.168098	train-rmse:0.128313	eval-rmspe:0.120548	train-rmspe:0.174407
[142]	eval-rmse:0.167883	train-rmse:0.128084	eval-rmspe:0.120199	train-rmspe:0.174345
[143]	eval-rmse:0.167645	train-rmse:0.127706	eval-rmspe:0.119892	train-rmspe:0.173673
[144]	eval-rmse:0.16753	train-rmse:0.127491	eval-rmspe:0.119679	train-rmspe:0.173368
[145]	eval-rmse:0.167456	train-rmse:0.12739	eval-rmspe:0.119574	train-rmspe:0.173248
[146]	eval-rmse:0.167277	train-rmse:0.127081	eval-rmspe:0.119283	train-rmspe:0.173002
[147]	eval-rmse:0.166433	train-rmse:0.126745	eval-rmspe:0.119101	train-rmspe:0.172877
[148]	eval-rmse:0.166308	train-rmse:0.126579	eval-rmspe:0.118932	train-rmspe:0.172748
[149]	eval-rmse:0.166258	train-rmse:0.12636	eval-rmspe:0.118877	train-rmspe:0.172596
[150]	eval-rmse:0.166229	train-rmse:0.126293	eval-rmspe:0.118853	train-rmspe:0.172579
[151]	eval-rmse:0.16611	train-rmse:0.126166	eval-rmspe:0.118706	train-rmspe:0.172255
[152]	eval-rmse:0.166045	train-rmse:0.126016	eval-rmspe:0.118594	train-rmspe:0.172229
[153]	eval-rmse:0.165888	train-rmse:0.125749	eval-rmspe:0.11817	train-rmspe:0.172038
[154]	eval-rmse:0.165712	train-rmse:0.125489	eval-rmspe:0.117927	train-rmspe:0.171866
[155]	eval-rmse:0.165874	train-rmse:0.125351	eval-rmspe:0.117909	train-rmspe:0.171806
[156]	eval-rmse:0.16582	train-rmse:0.125227	eval-rmspe:0.117662	train-rmspe:0.171694
[157]	eval-rmse:0.165714	train-rmse:0.125003	eval-rmspe:0.117495	train-rmspe:0.171266
[158]	eval-rmse:0.16562	train-rmse:0.12485	eval-rmspe:0.117353	train-rmspe:0.171149
[159]	eval-rmse:0.165551	train-rmse:0.124694	eval-rmspe:0.117274	train-rmspe:0.170597
[160]	eval-rmse:0.165248	train-rmse:0.124355	eval-rmspe:0.116823	train-rmspe:0.170403
[161]	eval-rmse:0.165155	train-rmse:0.124186	eval-rmspe:0.116669	train-rmspe:0.170214
[162]	eval-rmse:0.165037	train-rmse:0.123918	eval-rmspe:0.116543	train-rmspe:0.170028
[163]	eval-rmse:0.164808	train-rmse:0.123658	eval-rmspe:0.11624	train-rmspe:0.169818
[164]	eval-rmse:0.164777	train-rmse:0.123459	eval-rmspe:0.116185	train-rmspe:0.16976
[165]	eval-rmse:0.16427	train-rmse:0.123172	eval-rmspe:0.11608	train-rmspe:0.169487
[166]	eval-rmse:0.163524	train-rmse:0.123065	eval-rmspe:0.115936	train-rmspe:0.169349
[167]	eval-rmse:0.163446	train-rmse:0.122952	eval-rmspe:0.115853	train-rmspe:0.169222
[168]	eval-rmse:0.163409	train-rmse:0.12289	eval-rmspe:0.115789	train-rmspe:0.169175
[169]	eval-rmse:0.163217	train-rmse:0.122659	eval-rmspe:0.115491	train-rmspe:0.168979
[170]	eval-rmse:0.163075	train-rmse:0.122484	eval-rmspe:0.115359	train-rmspe:0.168175
[171]	eval-rmse:0.163025	train-rmse:0.122393	eval-rmspe:0.115302	train-rmspe:0.167688
[172]	eval-rmse:0.162702	train-rmse:0.122184	eval-rmspe:0.115094	train-rmspe:0.167492
[173]	eval-rmse:0.162666	train-rmse:0.122091	eval-rmspe:0.11501	train-rmspe:0.167501
[174]	eval-rmse:0.162524	train-rmse:0.121962	eval-rmspe:0.114786	train-rmspe:0.167398
[175]	eval-rmse:0.162478	train-rmse:0.121869	eval-rmspe:0.114732	train-rmspe:0.156804
[176]	eval-rmse:0.162442	train-rmse:0.121768	eval-rmspe:0.114658	train-rmspe:0.15673
[177]	eval-rmse:0.162343	train-rmse:0.121613	eval-rmspe:0.114523	train-rmspe:0.156609
[178]	eval-rmse:0.163393	train-rmse:0.121449	eval-rmspe:0.114462	train-rmspe:0.156541
[179]	eval-rmse:0.163345	train-rmse:0.121388	eval-rmspe:0.1144	train-rmspe:0.156472
[180]	eval-rmse:0.16333	train-rmse:0.121314	eval-rmspe:0.114361	train-rmspe:0.15641
[181]	eval-rmse:0.163267	train-rmse:0.121129	eval-rmspe:0.114268	train-rmspe:0.156169
[182]	eval-rmse:0.16315	train-rmse:0.120967	eval-rmspe:0.11412	train-rmspe:0.155941
[183]	eval-rmse:0.16296	train-rmse:0.12077	eval-rmspe:0.113882	train-rmspe:0.15575
[184]	eval-rmse:0.163557	train-rmse:0.120507	eval-rmspe:0.113908	train-rmspe:0.155638
[185]	eval-rmse:0.163508	train-rmse:0.120385	eval-rmspe:0.11378	train-rmspe:0.155495
[186]	eval-rmse:0.163391	train-rmse:0.120212	eval-rmspe:0.113575	train-rmspe:0.155413
[187]	eval-rmse:0.163396	train-rmse:0.120064	eval-rmspe:0.113526	train-rmspe:0.155005
[188]	eval-rmse:0.163384	train-rmse:0.119944	eval-rmspe:0.113465	train-rmspe:0.154772
[189]	eval-rmse:0.163316	train-rmse:0.119821	eval-rmspe:0.113431	train-rmspe:0.154565
[190]	eval-rmse:0.163246	train-rmse:0.119674	eval-rmspe:0.113282	train-rmspe:0.15442
[191]	eval-rmse:0.16314	train-rmse:0.119476	eval-rmspe:0.113137	train-rmspe:0.154294

[192]	eval-rmse:0.163096	train-rmse:0.119282	eval-rmspe:0.113061	train-rmspe:0.154147
[193]	eval-rmse:0.162928	train-rmse:0.119007	eval-rmspe:0.112561	train-rmspe:0.153794
[194]	eval-rmse:0.162861	train-rmse:0.118872	eval-rmspe:0.112405	train-rmspe:0.153609
[195]	eval-rmse:0.162839	train-rmse:0.118784	eval-rmspe:0.112337	train-rmspe:0.153664
[196]	eval-rmse:0.161652	train-rmse:0.118682	eval-rmspe:0.112107	train-rmspe:0.153601
[197]	eval-rmse:0.161539	train-rmse:0.118641	eval-rmspe:0.112084	train-rmspe:0.153544
[198]	eval-rmse:0.161487	train-rmse:0.11859	eval-rmspe:0.112031	train-rmspe:0.153334
[199]	eval-rmse:0.161462	train-rmse:0.11854	eval-rmspe:0.112003	train-rmspe:0.153315
[200]	eval-rmse:0.161404	train-rmse:0.118373	eval-rmspe:0.111915	train-rmspe:0.153206
[201]	eval-rmse:0.162264	train-rmse:0.118208	eval-rmspe:0.111777	train-rmspe:0.15307
[202]	eval-rmse:0.161918	train-rmse:0.118094	eval-rmspe:0.111661	train-rmspe:0.152955
[203]	eval-rmse:0.161872	train-rmse:0.117963	eval-rmspe:0.111612	train-rmspe:0.152857
[204]	eval-rmse:0.161815	train-rmse:0.117784	eval-rmspe:0.111505	train-rmspe:0.152723
[205]	eval-rmse:0.161767	train-rmse:0.117626	eval-rmspe:0.111483	train-rmspe:0.15187
[206]	eval-rmse:0.161726	train-rmse:0.117568	eval-rmspe:0.111399	train-rmspe:0.151795
[207]	eval-rmse:0.161634	train-rmse:0.117437	eval-rmspe:0.111303	train-rmspe:0.151699
[208]	eval-rmse:0.161525	train-rmse:0.117366	eval-rmspe:0.111256	train-rmspe:0.151644
[209]	eval-rmse:0.161491	train-rmse:0.117281	eval-rmspe:0.111204	train-rmspe:0.151507
[210]	eval-rmse:0.161489	train-rmse:0.117224	eval-rmspe:0.111206	train-rmspe:0.151468
[211]	eval-rmse:0.161459	train-rmse:0.117182	eval-rmspe:0.111151	train-rmspe:0.151394
[212]	eval-rmse:0.16139	train-rmse:0.117121	eval-rmspe:0.111062	train-rmspe:0.151333
[213]	eval-rmse:0.161334	train-rmse:0.117057	eval-rmspe:0.111006	train-rmspe:0.151304
[214]	eval-rmse:0.161349	train-rmse:0.116914	eval-rmspe:0.110791	train-rmspe:0.151096
[215]	eval-rmse:0.161311	train-rmse:0.116838	eval-rmspe:0.110736	train-rmspe:0.151158
[216]	eval-rmse:0.161262	train-rmse:0.116716	eval-rmspe:0.110684	train-rmspe:0.151085
[217]	eval-rmse:0.161249	train-rmse:0.116658	eval-rmspe:0.110663	train-rmspe:0.151193
[218]	eval-rmse:0.161308	train-rmse:0.116564	eval-rmspe:0.110593	train-rmspe:0.151181
[219]	eval-rmse:0.161449	train-rmse:0.116481	eval-rmspe:0.110488	train-rmspe:0.151083
[220]	eval-rmse:0.161384	train-rmse:0.116392	eval-rmspe:0.110425	train-rmspe:0.151055
[221]	eval-rmse:0.161364	train-rmse:0.116325	eval-rmspe:0.110478	train-rmspe:0.150972
[222]	eval-rmse:0.161275	train-rmse:0.116246	eval-rmspe:0.110324	train-rmspe:0.150951
[223]	eval-rmse:0.161205	train-rmse:0.116126	eval-rmspe:0.110207	train-rmspe:0.15078
[224]	eval-rmse:0.161167	train-rmse:0.115976	eval-rmspe:0.11022	train-rmspe:0.150658
[225]	eval-rmse:0.161128	train-rmse:0.115899	eval-rmspe:0.110152	train-rmspe:0.150525
[226]	eval-rmse:0.16111	train-rmse:0.115816	eval-rmspe:0.110124	train-rmspe:0.150426
[227]	eval-rmse:0.160637	train-rmse:0.115744	eval-rmspe:0.109916	train-rmspe:0.150331
[228]	eval-rmse:0.160466	train-rmse:0.115547	eval-rmspe:0.109709	train-rmspe:0.150188
[229]	eval-rmse:0.160178	train-rmse:0.115402	eval-rmspe:0.1097	train-rmspe:0.150176
[230]	eval-rmse:0.16016	train-rmse:0.115338	eval-rmspe:0.109676	train-rmspe:0.150132
[231]	eval-rmse:0.159798	train-rmse:0.115264	eval-rmspe:0.10957	train-rmspe:0.150065
[232]	eval-rmse:0.159707	train-rmse:0.115165	eval-rmspe:0.109407	train-rmspe:0.149984
[233]	eval-rmse:0.159693	train-rmse:0.115071	eval-rmspe:0.109334	train-rmspe:0.149868
[234]	eval-rmse:0.159638	train-rmse:0.114983	eval-rmspe:0.109234	train-rmspe:0.149807
[235]	eval-rmse:0.15974	train-rmse:0.1149	eval-rmspe:0.109202	train-rmspe:0.14978
[236]	eval-rmse:0.159062	train-rmse:0.114796	eval-rmspe:0.109089	train-rmspe:0.14969
[237]	eval-rmse:0.159035	train-rmse:0.11468	eval-rmspe:0.109074	train-rmspe:0.149584
[238]	eval-rmse:0.158987	train-rmse:0.114611	eval-rmspe:0.109017	train-rmspe:0.149345
[239]	eval-rmse:0.158954	train-rmse:0.11455	eval-rmspe:0.108951	train-rmspe:0.149306
[240]	eval-rmse:0.15891	train-rmse:0.1144	eval-rmspe:0.10883	train-rmspe:0.149256
[241]	eval-rmse:0.158521	train-rmse:0.114318	eval-rmspe:0.108841	train-rmspe:0.149221
[242]	eval-rmse:0.158585	train-rmse:0.114202	eval-rmspe:0.108777	train-rmspe:0.149159
[243]	eval-rmse:0.154731	train-rmse:0.114018	eval-rmspe:0.108699	train-rmspe:0.149095
[244]	eval-rmse:0.154729	train-rmse:0.113899	eval-rmspe:0.108693	train-rmspe:0.14906
[245]	eval-rmse:0.154662	train-rmse:0.113842	eval-rmspe:0.108614	train-rmspe:0.14902
[246]	eval-rmse:0.154661	train-rmse:0.113749	eval-rmspe:0.108557	train-rmspe:0.148938
[247]	eval-rmse:0.154665	train-rmse:0.113673	eval-rmspe:0.108315	train-rmspe:0.149
[248]	eval-rmse:0.154664	train-rmse:0.113615	eval-rmspe:0.108272	train-rmspe:0.148948
[249]	eval-rmse:0.154618	train-rmse:0.113558	eval-rmspe:0.108185	train-rmspe:0.148555
[250]	eval-rmse:0.154629	train-rmse:0.113543	eval-rmspe:0.108172	train-rmspe:0.148555
[251]	eval-rmse:0.154606	train-rmse:0.113449	eval-rmspe:0.108119	train-rmspe:0.148506
[252]	eval-rmse:0.154572	train-rmse:0.11339	eval-rmspe:0.108105	train-rmspe:0.148512
[253]	eval-rmse:0.154422	train-rmse:0.113248	eval-rmspe:0.107471	train-rmspe:0.148381
[254]	eval-rmse:0.15442	train-rmse:0.113186	eval-rmspe:0.107423	train-rmspe:0.148326
[255]	eval-rmse:0.154355	train-rmse:0.1131	eval-rmspe:0.107394	train-rmspe:0.148275
[256]	eval-rmse:0.154434	train-rmse:0.113059	eval-rmspe:0.107382	train-rmspe:0.148252
[257]	eval-rmse:0.15441	train-rmse:0.112895	eval-rmspe:0.107296	train-rmspe:0.147754
[258]	eval-rmse:0.154378	train-rmse:0.112829	eval-rmspe:0.107211	train-rmspe:0.147691
[259]	eval-rmse:0.154354	train-rmse:0.112707	eval-rmspe:0.107208	train-rmspe:0.14765
[260]	eval-rmse:0.154324	train-rmse:0.11267	eval-rmspe:0.107182	train-rmspe:0.148059
[261]	eval-rmse:0.154237	train-rmse:0.112594	eval-rmspe:0.107023	train-rmspe:0.147972
[262]	eval-rmse:0.154209	train-rmse:0.112496	eval-rmspe:0.106968	train-rmspe:0.147871
[263]	eval-rmse:0.154159	train-rmse:0.112457	eval-rmspe:0.106904	train-rmspe:0.147851
[264]	eval-rmse:0.154126	train-rmse:0.112381	eval-rmspe:0.106882	train-rmspe:0.147814
[265]	eval-rmse:0.154029	train-rmse:0.112295	eval-rmspe:0.106796	train-rmspe:0.147761
[266]	eval-rmse:0.153989	train-rmse:0.112215	eval-rmspe:0.106732	train-rmspe:0.147721
[267]	eval-rmse:0.153948	train-rmse:0.112132	eval-rmspe:0.106673	train-rmspe:0.147539
[268]	eval-rmse:0.154003	train-rmse:0.112078	eval-rmspe:0.106752	train-rmspe:0.147533
[269]	eval-rmse:0.153851	train-rmse:0.111984	eval-rmspe:0.106706	train-rmspe:0.147453
[270]	eval-rmse:0.153754	train-rmse:0.111908	eval-rmspe:0.106587	train-rmspe:0.147395
[271]	eval-rmse:0.153688	train-rmse:0.111847	eval-rmspe:0.106554	train-rmspe:0.147326
[272]	eval-rmse:0.15358	train-rmse:0.111762	eval-rmspe:0.106479	train-rmspe:0.147273
[273]	eval-rmse:0.153626	train-rmse:0.111716	eval-rmspe:0.106455	train-rmspe:0.147207
[274]	eval-rmse:0.153598	train-rmse:0.111567	eval-rmspe:0.106417	train-rmspe:0.147164
[275]	eval-rmse:0.153581	train-rmse:0.111533	eval-rmspe:0.106436	train-rmspe:0.147151
[276]	eval-rmse:0.153717	train-rmse:0.11141	eval-rmspe:0.106549	train-rmspe:0.147072
[277]	eval-rmse:0.15365	train-rmse:0.111359	eval-rmspe:0.106523	train-rmspe:0.147014
[278]	eval-rmse:0.153663	train-rmse:0.111306	eval-rmspe:0.106519	train-rmspe:0.146972
[279]	eval-rmse:0.153595	train-rmse:0.111217	eval-rmspe:0.106446	train-rmspe:0.146889
[280]	eval-rmse:0.153566	train-rmse:0.111142	eval-rmspe:0.10632	train-rmspe:0.146788
[281]	eval-rmse:0.153524	train-rmse:0.111074	eval-rmspe:0.106236	train-rmspe:0.146752
[282]	eval-rmse:0.15359	train-rmse:0.111024	eval-rmspe:0.106267	train-rmspe:0.146753
[283]	eval-rmse:0.153555	train-rmse:0.110958	eval-rmspe:0.106211	train-rmspe:0.146634
[284]	eval-rmse:0.153505	train-rmse:0.110894	eval-rmspe:0.106158	train-rmspe:0.146585
[285]	eval-rmse:0.153549	train-rmse:0.110825	eval-rmspe:0.106197	train-rmspe:0.14581
[286]	eval-rmse:0.153517	train-rmse:0.110737	eval-rmspe:0.106171	train-rmspe:0.145618
[287]	eval-rmse:0.153481	train-rmse:0.110679	eval-rmspe:0.106112	train-rmspe:0.145568

[288]	eval-rmse:0.153484	train-rmse:0.11062	eval-rmspe:0.106106	train-rmspe:0.145465
[289]	eval-rmse:0.151363	train-rmse:0.11049	eval-rmspe:0.106141	train-rmspe:0.14537
[290]	eval-rmse:0.151407	train-rmse:0.110439	eval-rmspe:0.106108	train-rmspe:0.145164
[291]	eval-rmse:0.151306	train-rmse:0.110343	eval-rmspe:0.106055	train-rmspe:0.14513
[292]	eval-rmse:0.151171	train-rmse:0.110297	eval-rmspe:0.106029	train-rmspe:0.144936
[293]	eval-rmse:0.151131	train-rmse:0.110241	eval-rmspe:0.105975	train-rmspe:0.144915
[294]	eval-rmse:0.151139	train-rmse:0.110153	eval-rmspe:0.105899	train-rmspe:0.144859
[295]	eval-rmse:0.151094	train-rmse:0.110099	eval-rmspe:0.105842	train-rmspe:0.14482
[296]	eval-rmse:0.150995	train-rmse:0.110031	eval-rmspe:0.105848	train-rmspe:0.144697
[297]	eval-rmse:0.150392	train-rmse:0.109994	eval-rmspe:0.10579	train-rmspe:0.14465
[298]	eval-rmse:0.150391	train-rmse:0.109939	eval-rmspe:0.105778	train-rmspe:0.144553
[299]	eval-rmse:0.150221	train-rmse:0.109826	eval-rmspe:0.105725	train-rmspe:0.144529
Validating
error 0.105725324264
Make predictions on the test set

In [84]:
print("The accuracy of model is {}".format(acc))

The accuracy of model is 0.9